:root{
    --font-family: "Poppins", Arial, sans-serif;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
 }
 body, html{
  overflow-x: hidden;
 }

  
 #header--section{
    color: black;
    font-size: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bold; 
   background-color:#e4ede9;
   
 
 }
 .header--menu{
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

 }
 .header--menu h2{
    font-size: 1.5rem;
    margin-right: 120px;
    font-weight: bolder;
   
    
 }
 nav ul{
    display: flex;
    font-size: 0.9rem;
    
 }
 nav li{
    margin: 10px  20px;
 }
 .header--menu  span{
    color: #6f7b6f;
 }
 .header--menu .home{
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
  }
  .header--menu .home::after{
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: 100%;
      left: 0;
      background-color:#80967f;
      transition-timing-function: ease-in-out;
      transition:  transform 0.3s;
      transform: scaleX(0);
  
  }
  .home{
    color: #6f7b6f;
    font-size: 1rem;
    font-family: serif;
  }
  .header--menu .home:hover::after{
      transform: scaleX(1);
  }
  
  .header--menu .about{
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
  }
  .header--menu .about:hover:after{
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: 100%;
      left: 0;
      background-color:#80967f;
      transition-timing-function: ease-in-out;
      transition:  transform 0.3s;
      transform: scaleX(0);
  
  }
  .header--menu .about::after{
      transform: scaleX(1);
  }
  .header--menu .about,.home,.contact,.project,.skill,.service{
    transition: 2s;
  }
  .header--menu .about:hover,.home:hover,.contact:hover,.project:hover,.skill:hover,.service:hover{
    transform: translateY(-7px);
  }
  .header--menu .skill{
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
  }
  .header--menu .skill::after{
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: 100%;
      left: 0;
      background-color:#80967f;
      transition-timing-function: ease-in-out;
      transition:  transform 0.3s;
      transform: scaleX(0);
  
  }
  .header--menu .skill:hover::after{
      transform: scaleX(1);
  }
  .header--menu .service{
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
  }
  .header--menu .service::after{
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: 100%;
      left: 0;
      background-color:#80967f;
      transition-timing-function: ease-in-out;
      transition:  transform 0.3s;
      transform: scaleX(0);
  
  }
  .header--menu .service::after{
      transform: scaleX(1);
  }
  .header--menu .project{
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
    
  }
  .header--menu .project::after{
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: 100%;
      left: 0;
      background-color:#80967f;
      transition-timing-function: ease-in-out;
      transition:  transform 0.3s;
      transform: scaleX(0);
  
  }
  .header--menu .project:hover::after{
      transform: scaleX(1);
  }
  .header--menu .contact{
    width: max-content;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
  }
  .header--menu .contact::after{
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: 100%;
      left: 0;
      background-color:#80967f;
      transition-timing-function: ease-in-out;
      transition:  transform 0.3s;
      transform: scaleX(0);
  
  }
  .header--menu .contact:hover::after{
      transform: scaleX(1);
  }
  .header--menu a{
    color: black;
   }

   /* <!-- main section start here  --> */

.about--mee{
    background-color: #f6f9f6;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 300PX;
    color: #6f7b6f;
}
.about--mee h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about--mee h1{
  width: max-content;
  position: relative;
  cursor: pointer;
  margin: 10px 20px;
}
.about--mee h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 5px;
    width: 100%;
    left: 0;
    background-color:#a6b8a5;
    transition-timing-function: ease-in-out;
    transition:  transform 0.3s;
    transform: scaleX(0);

}
.about--mee h1:hover::after{
    transform: scaleX(1);
}
/* <!-- service start here --> */
.service--section{
    padding: 5rem;
    background-color: #eaecec;
   }
   .service-contant{
    
   }
   .Servicr--dis{
    padding: 20px;
    gap: 35px;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .Servicr--dis p{
    font-size: 1rem;
    color: #80967f;
    opacity: 80%;
    letter-spacing: 1px;
  
  }
  .Servicr--dis h2{
    font-size: 2.5rem;
  }
  .service--text{
    margin-top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
  /* .fst-text{
   align-items: center;
   justify-content: center;
   text-align: center;
   position: relative;
  } */
  .fst-text button{
    position: absolute;
    padding: 20px 18px;
    border: none;
    border-radius: 50%;
    background-color: #6f7b6f;
    color: white;
    margin-top: -35px;
   margin-left: -95px;
   border: 3px solid #e7f1ee;
  }
  .fst-text i{
    font-size: 2rem;
  }
  .web-desing{
    padding: 40px;
    box-shadow: rgba(136, 165, 191, 0.48) 10px 10px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 270px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    transition:  transform 0.5s;
  }
  .web-desing:hover{
    background-color: #879587;
    color: rgb(255, 255, 255);
  }
  
 .web-desing h4{
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: sans-serif;
 
 }
  .web-desing p{
  font-size: 1rem;
   line-height: 1.9rem;
   font-family: sans-serif;
   font-weight: bolder;
    
  }
/* <!-- service end here --> */
.main--st{
    padding: 30px;
    align-items: center;
    background-color: #eceeed;
    display: flex;
    text-align: center;
    justify-content: center;
}
.main--st button{
    padding: 15px;
    font-size: 1.8rem;
    border-radius: 50%;
    border: none;
    background-color: #6f7b6f;
    color: white;
}
.btn-main{
    display: flex;
    margin: 30px 40px;
    gap: 20px;
   
}
.btn-main button{
    transition:  transform 2s;
}
.btn-main button:hover{
    transform: translateY(-10px);
}

.st--disss{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main--st p{
    font-family: sans-serif;
    display: flex;
    text-align: justify;
    font-weight: bolder;
  
}
.main--st-dis{
   color: #6f7b6f;
}
.st--dis{
    font-size: 1.7rem;
}
/* footer start here */
   .footer-section{
    width: 100%;
    padding: 100px;
    background-color: rgb(38, 45, 51);
    color: white;

   }
   .footer--contant{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    opacity: 70%;
   }
   .footer--contant h2{
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: sans-serif;
   }
   .footer--menu {
    text-align: justify;
   }
   .footer--menu button{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #475347;
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;
   
   }
   .footer--menu p{
     margin-top: 40px;
     font-size: 1.2rem;
     display: flex;
     flex-direction: column;
     text-align: justify;
     font-family: sans-serif;
   }
   .footer--menu span{
    margin: 8px 0px;
    text-align: justify;
   }
   .footer--p{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    font-size: 1.1rem;
    opacity: 80%;
   }
   .footer--p i{
   
   
   }
  .fotter_menu{
    gap: 10px;
    display: flex;
    margin-top:40px ;
  }
  .fotter_menu p{
    margin-top: -5px;
  }
  .fotter_menu i{
    font-size: 1.5rem;
  }
  .fb-wh-in{
    margin-top: 30px;
  }
  .fb-wh-in button{
    background-color: #535553;
    padding: 10px;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 13px;
    opacity: 60%;
  }
  .fb-wh-in {
  position: relative;
 }
 
 .fb-wh-in .fa-facebook:hover::after{
  content: "Sabbir Ahammd";
  position: absolute;
  font-size: 0.9rem;
  padding: 5px 10px;
  background-color: rgb(70, 92, 92);
  left: 690px;
  color: white;
  top: -15px;
  width: 100px;
  font-family: serif;
  border-radius: 20px;
  transition:  transform 0.3s;

}
.fb-wh-in .fa-whatsapp:hover::after{
  content: "01934850971";
  position: absolute;
  font-size: 0.9rem;
  padding: 5px 10px;
  background-color: rgb(70, 92, 92);
  left: 760px;
  color: white;
  top: -15px;
  width: 100px;
  font-family: serif;
  border-radius: 20px;
  transition:  transform 0.3s;

}
.fb-wh-in .fa-instagram:hover::after{
  content: "Sabbir Ahmmad";
  position: absolute;
  font-size: 0.9rem;
  padding: 5px 10px;
  background-color: rgb(70, 92, 92);
  left: 830px;
  color: white;
  top: -15px;
  width: 100px;
  font-family: serif;
  border-radius: 20px;
  transition:  transform 0.3s;

}
.fb-wh-in .fa-telegram:hover::after{
  content: "Md Sabbir";
  position: absolute;
  font-size: 0.9rem;
  padding: 5px 10px;
  background-color: rgb(70, 92, 92);
  left: 900px;
  color: white;
  top: -15px;
  width: 100px;
  font-family: serif;
  border-radius: 20px;
  transition:  transform 0.3s;

}
  
/* footer end here */

  /* <!-- main section end here  --> */

